<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metal Waste QA</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  {% block head %}{% endblock %}
</head>
<body>

  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <span class="mdc-top-app-bar__title">Metal Waste QA</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <a href="/" class="mdc-button mdc-top-app-bar__action-item">Dashboard</a>
        <a href="/docs" class="mdc-button mdc-top-app-bar__action-item">Docs</a>
        <a href="/sheets" class="mdc-button mdc-top-app-bar__action-item">sheets</a>
        <a href="/camera" class="mdc-button mdc-top-app-bar__action-item">camera</a>
      </section>
    </div>
  </header>
  
  {% block content %}
  {% endblock %}

  <footer>

  </footer>
</body>
</html>
