/*
By default, MDC doesn't absolutely position the FAB to
the bottom right of the screen.
*/
.app-fab--absolute {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}