header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

header .logo {
  color: blue;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  padding: 12px 15px;
}
