{% extends "layouts/main.html" %} {% block content %}

<main class="mdc-top-app-bar--fixed-adjust">
  <picture class="live-feed">
    <source srcset="{{ url_for('image.feed') }}" />
    <img src="{{ url_for('image.feed') }}" alt="Loading live stream..." />
  </picture>

  <div
    style="
      width: 960px;
      max-width: 100%;
      margin: 2rem auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    "
  >
    <div>
      <div id="calibrate-switch" class="mdc-switch">
        <div class="mdc-switch__track"></div>
        <div class="mdc-switch__thumb-underlay">
          <div class="mdc-switch__thumb"></div>
          <input
            type="checkbox"
            id="calibrate-switch-input"
            class="mdc-switch__native-control"
            role="switch"
            aria-checked="false"
          />
        </div>
      </div>
      <label
        for="calibrate-switch-input"
        class="mdc-typography--subtitle1"
        style="margin-left: 10px;"
      >
        Calibrate Mode
      </label>
    </div>

    <div style="display: flex; align-items: center;">
      <span
        id="calibration-count"
        class="mdc-typography--body1"
        style="opacity: 0.4; display: none; margin-right: 1rem;"
      >
        <span id="calibration-image-count">0</span>
        <span>&nbsp;/ 10</span>
      </span>
      <button
        id="run-calibration"
        class="mdc-button"
        style="display: none; margin-right: 1rem;"
        onclick="handleRunCalibration();"
      >
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Run Calibration</span>
      </button>

      <button
        id="capture"
        class="mdc-button mdc-button--raised"
        onclick="handleCaptureImage(this);"
      >
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Take Picture</span>
      </button>
    </div>
  </div>
</main>

<div id="upload-image-dialog" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div
      class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="dialog-title"
      aria-describedby="dialog-content"
    >
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="dialog-title">
        <!--
     -->Analyze Capture<!--
   -->
      </h2>
      <div
        class="mdc-dialog__content"
        id="dialog-content"
        style="overflow: visible;"
      >
        <p
          id="captured-filename"
          class="mdc-typography--caption"
          style="margin-bottom: 1rem;"
        ></p>

        <img
          id="preview"
          src=""
          alt="Snapshot Preview"
          style="display: block; margin: 0 auto; width: 70%;"
        />

        <p class="mdc-typography--headline6" style="margin-bottom: 1.5rem;">
          Sheet Info
        </p>

        <label
          id="cut-date-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="date"
            class="mdc-text-field__input"
            aria-labelledby="cut-date"
            style="width: 150px;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="cut-date">Cut Date</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <label
          id="serial-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="number"
            class="mdc-text-field__input"
            aria-labelledby="serial"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="serial">Serial No.</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <label
          id="weight-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="number"
            step="any"
            class="mdc-text-field__input"
            aria-labelledby="weight"
            style="width: 70px;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="weight">Weight</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <select name="metal_type" id="metal_type">
          <option value="alum_063">063 Aluminum</option>
          <option value="alum_080">080 Aluminum</option>
        </select>

        <p class="mdc-typography--headline6" style="margin: 1.5rem 0;">
          User Info
        </p>

        <label
          id="initials-input"
          class="mdc-text-field mdc-text-field--outlined"
          style="width: 100px;"
        >
          <input
            type="text"
            class="mdc-text-field__input"
            aria-labelledby="initials"
            maxlength="3"
            style="text-transform: uppercase;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="initials">Initials</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>
      </div>
      <footer class="mdc-dialog__actions">
        <button
          type="button"
          class="mdc-button mdc-dialog__button"
          data-mdc-dialog-action="discard"
        >
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Discard</span>
        </button>
        <button
          id="file-upload-button"
          type="button"
          class="mdc-button mdc-dialog__button"
          data-mdc-dialog-action="accept"
          data-mdc-dialog-button-default
          disabled
        >
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Analyze</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

<div id="loading-dialog" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div
      class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="loading-dialog-title"
      aria-describedby="dialog-content"
    >
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="loading-dialog-title">
        <!--
     -->Loading. Please wait.<!--
   -->
      </h2>
      <div
        class="mdc-dialog__content"
        id="dialog-content"
        style="overflow: visible;"
      >
        <p class="mdc-typography--caption" style="margin-bottom: 1rem;">
          This may take a moment.
        </p>

        <div
          role="progressbar"
          class="mdc-linear-progress mdc-linear-progress--indeterminate"
        >
          <div class="mdc-linear-progress__buffering-dots"></div>
          <div class="mdc-linear-progress__buffer"></div>
          <div
            class="mdc-linear-progress__bar mdc-linear-progress__primary-bar"
          >
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
          <div
            class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"
          >
            <span class="mdc-linear-progress__bar-inner"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

<div id="calibrate-wizard-dialog" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div
      class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="calibrate-wizard-title"
      aria-describedby="calibrate-wizard-content"
    >
      <h2 class="mdc-dialog__title" id="calibrate-wizard-title">
        <!--
        -->Calibrate Successful<!--
        -->
      </h2>

      <div
        class="mdc-dialog__content"
        id="dialog-content"
        style="overflow: visible;"
      >
        <p class="mdc-typography--caption">
          Camera successfully calibrated. Click "Reload" to reload the current
          page.
        </p>
      </div>

      <footer class="mdc-dialog__actions">
        <button
          id="complete-calibrate-button"
          type="button"
          class="mdc-button mdc-dialog__button"
          data-mdc-dialog-action="accept"
          data-mdc-dialog-button-default
          disabled
        >
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Reload</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

<script>
  const captureButton = document.getElementById("capture");
  const uploadImageEl = document.getElementById("upload-image-dialog");
  const loadingDialogEl = document.getElementById("loading-dialog");
  const calibrateSuccessDialogEl = document.getElementById(
    "calibrate-wizard-dialog"
  );
  const filenameEl = document.getElementById("captured-filename");
  const cutDateInputEl = document.getElementById("cut-date-input");
  const serialInputEl = document.getElementById("serial-input");
  const initialsEl = document.getElementById("initials-input");
  const weightEl = document.getElementById("weight-input");
  const metalTypeSelect = document.getElementById("metal_type");
  const fileUploadButton = document.getElementById("file-upload-button");
  const runCalibrationButton = document.getElementById("run-calibration");
  const calibrateSwitchEl = document.getElementById("calibrate-switch");
  const calibrationCountEl = document.getElementById("calibration-count");
  const calibrationImageCountEl = document.getElementById(
    "calibration-image-count"
  );
  const snapshotPreviewEl = document.getElementById("preview");

  const uploadImageDialog = new mdc.dialog.MDCDialog(uploadImageEl);
  const loadingDialog = new mdc.dialog.MDCDialog(loadingDialogEl);
  const calibrateSuccessDialog = new mdc.dialog.MDCDialog(
    calibrateSuccessDialogEl
  );
  const initialsInput = new mdc.textField.MDCTextField(initialsEl);
  const cutDateInput = new mdc.textField.MDCTextField(cutDateInputEl);
  const serialInput = new mdc.textField.MDCTextField(serialInputEl);
  const weightInput = new mdc.textField.MDCTextField(weightEl);
  const calibrateSwitch = new mdc.switchControl.MDCSwitch(calibrateSwitchEl);

  let calibrationImageCount = 0;

  calibrateSwitch.listen("change", ({ target }) => {
    const { checked } = target;

    if (checked) {
      runCalibrationButton.style.display = "inline-flex";
      calibrationCountEl.style.display = "inline-flex";
    } else {
      runCalibrationButton.style.display = "none";
      calibrationCountEl.style.display = "none";
    }
  });

  initialsInput.input_.oninput = function ({ target }) {
    const { value } = target;

    if (value.length === 3) {
      fileUploadButton.removeAttribute("disabled");
      fileUploadButton.removeAttribute("aria-disabled");
    } else {
      fileUploadButton.setAttribute("disabled", "true");
      fileUploadButton.setAttribute("aria-disabled", "true");
    }
  };

  function handleCaptureImage(button) {
    // First and foremost, prevent unnecessary clicks.
    button.setAttribute("disabled", "true");
    button.setAttribute("aria-disabled", "true");

    calibrateSwitch.disabled = true;

    loadingDialog.open();

    return fetch(
      `/capture${calibrateSwitch.checked ? "?calibrate=true" : ""}`,
      { method: "GET" }
    )
      .then((response) => {
        if (!response.ok) {
          throw new Error("Unable to capture image.");
        }

        return response.json();
      })
      .then(({ filename }) => {
        filenameEl.textContent = filename;

        if (calibrateSwitch.checked) {
          calibrationImageCount += 1;
          calibrationImageCountEl.textContent = calibrationImageCount;

          if (calibrationImageCount >= 10) {
            captureButton.disabled = true;
            runCalibrationButton.disabled = false;
          }
        } else {
          snapshotPreviewEl.src = `/static/images/tmp/${filenameEl.textContent}`;
          uploadImageDialog.open();
          calibrateSwitch.disabled = false;
        }
      })
      .finally(() => {
        button.removeAttribute("disabled");
        button.removeAttribute("aria-disabled");

        loadingDialog.close();
      });
  }

  function handleRunCalibration() {
    loadingDialog.open();

    return fetch("/calibrate", { method: "GET" })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Unable to calibrate camera lens. Please try again.");
        }

        return response.json();
      })
      .then(() => {
        calibrateSwitch.changeHandler_({ target: { checked: false } });
        runCalibrationButton.style.display = "none";
        calibrationCountEl.style.display = "none";
        calibrationImageCount = 0;
        calibrateSwitch.disabled = false;
      })
      .finally(() => {
        loadingDialog.close();
        calibrateSuccessDialog.open();
      });
  }

  uploadImageDialog.listen("MDCDialog:closed", ({ detail }) => {
    const { action } = detail;

    if (action === "accept") {
      loadingDialog.open();

      const fd = new FormData();

      fd.set("filename", filenameEl.textContent);
      fd.set("cut_date", cutDateInput.value);
      fd.set("serial_number", serialInput.value.toUpperCase());
      fd.set("initials", initialsInput.value.toUpperCase());
      fd.set("weight", weightInput.value || 0);
      fd.set("metal_type", metalTypeSelect.value)

      return fetch("/record", { method: "POST", body: fd })
        .then((response) => {
          // If the serial number is already used
          if (response.status === 409) {
            const message = "Serial number already used. Please enter another, or delete the entry using the serial number.";

            alert(message);
            throw new Error(message);
          }
          // Any other generic error
          else if (!response.ok) {
            throw new Error("Unable to record capture.");
          }

          return response.json();
        })
        .then((sheet) => {
          window.location.href = `/sheets/${sheet.id}`;
        })
        .catch(() => {
          loadingDialog.close();
          uploadImageDialog.open();
        });
    } else if (action === "discard") {
      loadingDialog.open();

      const fd = new FormData();

      fd.set("filename", filenameEl.textContent);

      return fetch("/discard", { method: "POST", body: fd })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Unable to discard capture.");
          }

          return response.json();
        })
        .then(() => {
          window.location.href = "/camera";
        })
        .catch(() => {
          loadingDialog.close();
        })
    } else {
      alert("Please fill out this form.");
      uploadImageDialog.open();
    }
  });

  calibrateSuccessDialog.listen("MDCDialog.closed", ({ detail }) => {
    const { action } = detail;

    if (action === "accept") {
      window.location.href = "/camera";
    }
  });
</script>

{% endblock %}
