{% extends "layouts/main.html" %}


{% block content %}
<main class="mdc-top-app-bar--fixed-adjust">
  <div style="width: 1080px; margin: 1rem auto 0;">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2 class="mdc-typography--headline2">Getting Started</h2>
      <p class="mdc-typography--body1">
        This is the QA analysis of metal waste at DPS. Use this app to
        determine the percent of remaining material after cuts.
      </p>
      <h3 class="mdc-typography--headline3" style="margin: 1rem 0;">
        Upload an image
      </h3>
      <img
        src="{{ url_for('static', filename='images/assets/process_upload_image.png') }}"
        alt="Upload image process"
      />
      <hr>
      <h3 class="mdc-typography--headline3" style="margin: 1rem 0;">
        View an image
      </h3>
      <img
        src="{{ url_for('static', filename='images/assets/process_view_sheet.png') }}"
        alt="View sheet process"
      />
      <hr>
      <h3 class="mdc-typography--headline3" style="margin: 1rem 0;">
        Calibrate Camera
      </h3>
      <img
        src="{{ url_for('static', filename='images/assets/process_calibrate_camera.png') }}"
        alt="Calibrate Camera Process"
      />
    </div>
  </div>
</main>
{% endblock %}
