<!--
  Graph with link pointer events, created by JLC. Obsolete
  after 7/8/2020 and can be deleted anytime after that date.
-->
{% extends "layouts/main.html" %}

{% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
<main class="mdc-top-app-bar--fixed-adjust">
  <figure id="chart"></figure>
</main>

<script>
  const sheets = {{ sheets | safe }};
  const chart = Highcharts.chart("chart", {
    chart: { type: "line" },
    title: { text: "Sheet Unusage" },
    xAxis: {
      categories: sheets.map(s => s.serial_number),
    },
    plotOptions: {
      line: {
        dataLabels: {
          enabled: true,
          formatter(_options) {
            if (this.series.name === "Unused Percent") {
              return `${this.point.y}%`;
            } else if (this.series.name === "Unused Weight") {
              return `${this.point.y} lbs`;
            }
          },
        },
        events: {
          click(event) {
            window.location.href = `/sheets/${sheets[event.point.index].id}`;
          },
        },
      },
    },
    series: [
      {
        name: "Unused Percent",
        data: sheets.map(s => s.calc_unused_pct),
      },
      {
        name: "Unused Weight",
        data: sheets.map(s => s.weight),
      },
    ],
  });
</script>

{% endblock %}