{% extends "layouts/main.html" %} {% block head %}
<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %} {% block content %}

<main class="mdc-top-app-bar--fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h1 class="mdc-typography--headline3">
          Dashboard
          {% if start_date and end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            {{ start_date }} 00:00:00 - {{ end_date }} 23:59:59
          </span>
          {% elif start_date and not end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            {{ start_date }} 00:00:00 - now
          </span>
          {% elif not start_date and end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            up to {{ end_date }} 23:59:59
          </span>
          {% else %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            Last 30 days
          </span>
          {% endif %}
        </h1>
      </div>

      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
        style="display: flex; align-items: center; justify-content: flex-end;"
      >
        <span class="mdc-typography--overline">Filter by date: </span>
        <input type="date" name="start_date" id="start_date" value="{{ start_date }}">
        <span>-</span>
        <input type="date" name="end_date" id="end_date" value="{{ end_date }}">
        <button
          class="mdc-button"
          onclick="handleFilterSearch()"
          style="margin-left: 1rem;"
        >
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Submit</span>
        </button>
      </div>

      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"
        style="text-align: center;"
      >
        <span class="mdc-typography--overline">Total Unused</span>
        <h3 class="mdc-typography--headline3" style="margin: 3rem 0;">
          {{ total_unused_weight | round(2) }}
          <span class="mdc-typography--headline6" style="opacity: 0.6;">
            LBS
          </span>
        </h3>
        <span class="mdc-typography--caption" style="opacity: 0.6;"
          >({{ total_count }} sheets)</span
        >
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"
        style="text-align: center;"
      >
        <span class="mdc-typography--overline">Average Sheet Unused</span>
        <h3 class="mdc-typography--headline3" style="margin: 3rem 0;">
          {{ average_unused_pct | round(2) }}%

          <span class="mdc-typography--headline6" style="opacity: 0.6;">
            / {{ average_unused_weight | round(2) }} lbs
          </span>
        </h3>
        <span class="mdc-typography--caption" style="opacity: 0.6;"
          >({{ total_count }} sheets)</span
        >
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <figure id="unused-pcts"></figure>
      </div>
    </div>
  </div>
</main>

<script>
  const startDateEl = document.getElementById("start_date");
  const endDateEl = document.getElementById("end_date");

  function handleFilterSearch() {
    let urlString = "";

    if (startDateEl.value && endDateEl.value) {
      urlString += `?start_date=${startDateEl.value}&end_date=${endDateEl.value}`;
    } else if (startDateEl.value && !endDateEl.value) {
      urlString += `?start_date=${startDateEl.value}`;
    } else if (!startDateEl.value && endDateEl.value) {
      urlString += `?end_date=${endDateEl.value}`;
    }

    window.location.href = urlString;
  }

  const averageUnusedPctChart = Highcharts.chart("unused-pcts", {
    chart: { type: "line" },
    title: { text: "Unused Metal Per Day" },
    yAxis: { title: { text: null } },
    xAxis: { labels: { enabled: null } },
    plotOptions: {
      line: {
        dataLabels: {
          enabled: true,
          formatter(options) {
            if (this.series.name === "Unused Percents") {
              return this.point.y + "%";
            } else if (this.series.name === "Unused Weights") {
              return this.point.y + "lbs";
            }
          }
        },
        enableMouseTracking: false,
      },
    },
    series: [
      {
        name: "Unused Percents",
        data: {{ unused_pcts | safe }},
      },
      {
        name: "Unused Weights",
        data: {{ unused_weights | safe }}
      },
    ],
  });
</script>

{% endblock %}
