{% extends "layouts/main.html" %} {% block content %}

<main class="mdc-top-app-bar--fixed-adjust">

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h1 class="mdc-typography--headline3">
          Sheets
          {% if start_date and end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            {{ start_date }} - {{ end_date }}
          </span>
          {% elif start_date and not end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            {{ start_date }} - now
          </span>
          {% elif not start_date and end_date %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            up to {{ end_date }}
          </span>
          {% else %}
          <span
            class="mdc-typography--overline"
            style="opacity: 0.6"
          >
            Last 30 days
          </span>
          {% endif %}
        </h1>
      </div>

      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6"
        style="display: flex; align-items: center; justify-content: flex-end;"
      >
        <span class="mdc-typography--overline">Filter by date: </span>
        <input type="date" name="start_date" id="start_date">
        <span>-</span>
        <input type="date" name="end_date" id="end_date">
        <button
          class="mdc-button"
          onclick="handleFilterSearch();"
          style="margin-left: 1rem;"
        >
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Submit</span>
        </button>
      </div>

      {% for sheet in sheets %}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <a
          href="/sheets/{{ sheet.id }}"
          style="text-decoration: none; color: unset;"
        >
          <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary-action" tabindex="0">
              <div
                class="mdc-card__media mdc-card__media--16-9"
                style="background: url( {{ sheet.image_path_sm() }} ); background-size: cover; background-position: center;"
              ></div>
              <div class="mdc-card-wrapper__text-section">
                <div class="mdc-card__title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><!--
                -->{{ sheet.serial_number if sheet.serial_number != '' else 'NONE'}}<!--
                --></div>
                <div class="mdc-card__subhead"><!--
                -->{{ sheet.exp_unused_pct | round(2) }}% unused - {{ sheet.created_on.strftime("%x") }} - {{ sheet.initials }}<!--
                --></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
        style="text-align: center;"
      >
        <span
          class="mdc-typography--overline"
          style="opacity: 0.6; display: inline-block; margin-top: 3rem;"
          >End of list</span
        >
      </div>
    </div>
  </div>
</main>

<button
  class="mdc-fab app-fab--absolute mdc-fab--extended mdc-ripple-upgraded"
  aria-label="Upload"
  onclick="uploadImageDialog.open();"
>
  <div class="mdc-fab__ripple"></div>
  <div class="mdc-fab__label">Upload</div>
  <i class="mdc-fab__icon material-icons">publish</i>
</button>

<div id="upload-image-dialog" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div
      class="mdc-dialog__surface"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="dialog-title"
      aria-describedby="dialog-content"
    >
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="dialog-title">
        <!--
     -->Upload an image<!--
   -->
      </h2>
      <div
        class="mdc-dialog__content"
        id="dialog-content"
        style="overflow: visible;"
      >
        <p class="mdc-typography--caption" style="margin-bottom: 1rem;">
          Specify an image to upload of a discarded sheet of metal (must be PNG
          or JPG)
        </p>

        <p
          class="mdc-typography--headline6"
          style="margin-bottom: 1.5rem;"
        >
          Sheet Info
        </p>

        <label
          id="cut-date-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="date"
            class="mdc-text-field__input"
            aria-labelledby="cut-date"
            style="width: 150px;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="cut-date">Cut Date</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <label
          id="serial-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="text"
            class="mdc-text-field__input"
            aria-labelledby="serial"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="serial">Serial No.</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <label
          id="weight-input"
          class="mdc-text-field mdc-text-field--outlined"
        >
          <input
            type="number"
            class="mdc-text-field__input"
            aria-labelledby="weight"
            style="width: 70px;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="weight">Weight</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <select name="metal_type" id="metal_type">
          <option value="alum_063">063 Aluminum</option>
          <option value="alum_080">080 Aluminum</option>
        </select>

        <p
          class="mdc-typography--headline6"
          style="margin: 1.5rem 0;"
        >
          User Info
        </p>

        <label
          id="initials-input"
          class="mdc-text-field mdc-text-field--outlined"
          style="width: 100px;"
        >
          <input
            type="text"
            class="mdc-text-field__input"
            aria-labelledby="initials"
            maxlength="3"
            style="text-transform: uppercase;"
          />
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="initials">Initials</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>

        <button
          id="file-upload-button"
          class="mdc-button"
          data-balloon-pos="right"
          onclick="this.nextElementSibling.click()"
          style="margin-top: 1rem;"
          disabled="true"
          aria-disabled="true"
        >
          <div class="mdc-button__ripple"></div>
          <span for="upload-image" class="mdc-button__label">Upload file</span>
        </button>
        <input
          type="file"
          name="upload-image"
          id="upload-image"
          style="display: none;"
        />
      </div>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

<script>
  const uploadImageEl = document.getElementById("upload-image-dialog");
  const initialsInputEl = document.getElementById("initials-input");
  const cutDateInputEl = document.getElementById("cut-date-input");
  const serialInputEl = document.getElementById("serial-input");
  const weightInputEl = document.getElementById("weight-input");
  const metalTypeSelect = document.getElementById("metal_type");
  const fileInput = document.getElementById("upload-image");
  const fileUploadButton = document.getElementById("file-upload-button");
  const startDateEl = document.getElementById("start_date");
  const endDateEl = document.getElementById("end_date");

  const uploadImageDialog = new mdc.dialog.MDCDialog(uploadImageEl);
  const initialsInput = new mdc.textField.MDCTextField(initialsInputEl);
  const cutDateInput = new mdc.textField.MDCTextField(cutDateInputEl);
  const serialInput = new mdc.textField.MDCTextField(serialInputEl);
  const weightInput = new mdc.textField.MDCTextField(weightInputEl);

  function handleFilterSearch() {
    let urlString = "/sheets";

    if (startDateEl.value && endDateEl.value) {
      urlString += `?start_date=${startDateEl.value}&end_date=${endDateEl.value}`;
    } else if (startDateEl.value && !endDateEl.value) {
      urlString += `?start_date=${startDateEl.value}`;
    } else if (!startDateEl.value && endDateEl.value) {
      urlString += `?end_date=${endDateEl.value}`;
    }

    window.location.href = urlString;
  }

  initialsInput.input_.oninput = function ({ target }) {
    const { value } = target;

    if (value.length === 3) {
      fileUploadButton.removeAttribute("disabled");
      fileUploadButton.removeAttribute("aria-disabled");
    } else {
      fileUploadButton.setAttribute("disabled", "true");
      fileUploadButton.setAttribute("aria-disabled", "true");
    }
  }

  fileInput.oninput = function ({ target }) {
    const file = target.files[0];
    const filename = file.name.toLowerCase();

    if (
      !(
        filename.endsWith(".jpg") ||
        filename.endsWith(".jpeg") ||
        filename.endsWith(".png")
      )
    ) {
      document
        .querySelector("[data-balloon-pos='right']")
        .setAttribute("aria-label", "Image format not supported.");

      return;
    }

    const fd = new FormData();
    fd.set("file", file);
    fd.set("cut_date", cutDateInput.value);
    fd.set("serial_number", serialInput.value.toUpperCase());
    fd.set("initials", initialsInput.value.toUpperCase());
    fd.set("weight", weightInput.value || 0);
    fd.set("metal_type", metalTypeSelect.value);

    return fetch("/sheets", {
      method: "POST",
      body: fd,
    })
      .then((response) => {
        // If the media type is unsupported
        if (response.status === 415) {
          const message = "Unsupported file extension. Please try again.";

          alert(message);
          throw new Error(message);
        }
        // Any other generic error
        else if (!response.ok) {
          throw new Error("Hmm.. Couldn't upload file. Try again!");
        }

        return response.json();
      })
      .then((sheet) => {
        window.location.href = `/sheets/${sheet.id}`;
      })
      .catch(() => {
        uploadImageDialog.open();
      });
  };
</script>

{% endblock %}
