{% extends "layouts/main.html" %}

{% block content %}

<main class="mdc-top-app-bar--fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2 class="mdc-typography--headline2">
          {{ sheet.serial_number }}
          {% if sheet.calc_unused_pct >= 21: %}
            <span style="color: red;">FAIL</span>
          {% else %}
            <span style="color: green;">PASS</span>
          {% endif %}
        </h2>
        <span id="upload-date" class="mdc-typography--caption" style="opacity: 0.6;"></span>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <a href="#sheet-lightbox">
          <picture>
            <source srcset="{{ sheet.image_path() }}">
            <img src="{{ sheet.image_path() }}" alt="{{ sheet.id }}" style="width: 100%;">
          </picture>
        </a>
        <span class="mdc-typography--caption">Click image to enlarge.</span>

        <a href="javascript:window.history.back();" class="lightbox" id="sheet-lightbox">
          <p class="mdc-typography--overline" style="margin-top: 1rem; color: white;">Click anywhere to dismiss.</p>
          <picture>
            <source srcset="{{ sheet.image_path() }}">
            <img src="{{ sheet.image_path() }}" alt="{{ sheet.id }}" style="height: 92%;">
          </picture>
        </a>
      </div>

      <!-- This block intentionally left blank -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2"></div>

      <div id="info" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <p class="mdc-typography--overline">Uploaded By: {{ sheet.initials }}</p>
        <p class="mdc-typography--overline">Weight: {{ sheet.weight }} lbs</p>
        <p class="mdc-typography--overline">Cut Date: {{ sheet.cut_date.strftime("%x") }}</p>
        <p class="mdc-typography--overline">Total Area: {{ sheet.total_area | round(2) }} sq.in.</p>
        <p class="mdc-typography--overline">Used Area: {{ sheet.used_area | round(2) }} sq.in.</p>
        <p class="mdc-typography--overline">Unused Area: ~{{ sheet.unused_area | round(2) }} sq.in.</p>
        <p class="mdc-typography--overline">Expected Unused Pct: {{ sheet.exp_unused_pct | round(2) }}%</p>
        <p class="mdc-typography--overline">Calculated Unused Pct: {{ sheet.calc_unused_pct | round(2) }}%</p>
        <p class="mdc-typography--overline">Unused Pct Delta: {{ (sheet.exp_unused_pct - sheet.calc_unused_pct) | abs | round(2) }}%</p>
        <p class="mdc-typography--overline">Ratio: {{ sheet.ratio | round(2) }}</p>
        <p class="mdc-typography--overline">PPI: {{ sheet.ppi | round(2) }}</p>
        <button class="mdc-button mdc-button--raised" onclick="handleDelete({{ sheet.id }})">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Delete</span>
        </button>
        <button class="mdc-button mdc-button--raised" onclick="window.location='{{ url_for('main.sheet_grid', sheet_id=sheet.id) }}';">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Grid</span>
        </button>
        <button class="mdc-button mdc-button--raised" onclick="window.location='{{ url_for('main.sheet_debug', sheet_id=sheet.id) }}';">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Debug</span>
        </button>
      </div>

      <div class="mdc-layout-grid__cell--span-12">
        <h3 class="mdc-typography--headline4">Top 3 Largest Contours</h3>
        <div class="mdc-layout-grid__inner" style="margin-top: 1rem;">
          <div class="mdc-layout-grid__cell--span-4"><picture></picture></div>
          <div class="mdc-layout-grid__cell--span-4"><picture></picture></div>
          <div class="mdc-layout-grid__cell--span-4"><picture></picture></div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  function handleDelete(sheetId) {
    return fetch(`/sheets/${sheetId}`, { method: "DELETE" })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Unable to delete sheet.");
        }

        return;
      })
      .then(() => {
        window.location.href = "/sheets";
      });
  }
</script>

{% endblock %}
