{% extends "layouts/main.html" %} {% block content %}

<main class="mdc-top-app-bar--fixed-adjust">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <!-- <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div> -->
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <canvas id="canvas-cuts" width="1152px" height="576px" style="background: #fff; margin:20px;"></canvas>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <canvas id="canvas" width="1152px" height="576px" style="background: #fff; margin:20px;"></canvas>
      </div>

    </div>
  </div>
</main>

<script type="text/javascript" language="javascript">
const RECTS = {{ rects }};
const CUTS = {{ cuts }};
const PNT_PXL = 3;


console.log(CUTS)

drawCuts();
drawBoard();

function drawCuts(){
  var canvas = document.getElementById("canvas-cuts");
  var ctx = canvas.getContext("2d");
  CUTS.forEach((cut, i) => {
    ctx.fillStyle = '#f00';
    ctx.beginPath();
    cut.forEach((point, j, arr) => {
      console.log(point);
      if (i == 0) {
        ctx.moveTo(point[0], point[1]);
      }
      if (j+1 < arr.length) {
        let nextPoint = arr[j+1];
        ctx.lineTo(point[0],point[1]);
        ctx.lineTo(nextPoint[0], nextPoint[1]);
      } else {
        ctx.closePath();
        ctx.fill();
      }
    })
  });
}

function drawBoard(){
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  let offset = 5
  RECTS.forEach((row, i) => {
    row.forEach((area, j) => {
      let [isMetal, [start, end]] = area;
      ctx.strokeStyle = isMetal ? 'blue' : 'red';
      ctx.beginPath();
      ctx.rect(j*PNT_PXL, i*PNT_PXL, 1, 1)
      ctx.stroke();
    })
  })
}

</script>
{% endblock %}